<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("../partials/head") %>
    </head>
    <body>
        <h2 class="text-success"><%= text %></h2>
        <a href="/" class="btn btn-primary">Inicio</a>
        <a href="/admin/users" class="btn btn-primary">Lista de usuarios</a>
        <%- include("../partials/bootstrap") %>
    </body>
</html>
