<nav class="navbar navbar-expand-md bg-primary bg-opacity-25">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li>
                <a href="/" class="nav-link">Inicio</a>
            </li>
            <li>
                <a href="/admin/users" 
                   class="nav-link">Lista de usuarios</a>
            </li>
        </ul>
    </div>
</nav>
